<span
  class="inline-flex w-fit shrink-0 items-center justify-center gap-1 rounded-md border border-gray-300 bg-gray-100 px-2.5 py-1 text-xs font-medium whitespace-nowrap text-gray-800 transition-colors sm:text-xs"
>
  <slot />
</span>
