<span
  class="inline-flex items-center justify-center rounded-md bg-gray-100 text-gray-800 border border-gray-300 px-2.5 py-1 text-xs sm:text-xs font-medium w-fit whitespace-nowrap shrink-0 gap-1 transition-colors"
>
  <slot />
</span>
