---
export interface Props {
  href?: string;
  class?: string;
}

const { href, class: className, ...props } = Astro.props;
---

{href ? (
  <a href={href}>
    <h2 class:list={["font-mono font-bold text-xl", className]} {...props}>
      <slot />
    </h2>
  </a>
) : (
  <h2 class:list={["font-mono font-bold text-xl", className]} {...props}>
    <slot />
  </h2>
)}