---
import { data } from "@cv/data";
import Section from "@web/components/ui/section.astro";
import SectionBody from "@web/components/ui/section-body.astro";
import SectionTitle from "@web/components/ui/section-title.astro";
---

<Section>
  <SectionTitle href="#intro">Intro</SectionTitle>
  <SectionBody>
    <p class="whitespace-break-spaces">{data.intro}</p>
  </SectionBody>
</Section>
