---
import { data } from "@cv/data";
import Badge from "@web/components/ui/badge.astro";
import Section from "@web/components/ui/section.astro";
import SectionBody from "@web/components/ui/section-body.astro";
import SectionTitle from "@web/components/ui/section-title.astro";
---

<Section>
  <SectionTitle href="#skills">Skills</SectionTitle>
  <SectionBody>
    {
      Object.entries(data.skills).map(([category, skills]) => (
        <div class="flex flex-col gap-2 sm:flex-row sm:gap-4">
          <h3 class="mb-1 font-mono font-bold sm:mb-0 sm:w-22 sm:shrink-0">{category}</h3>
          <div class="flex flex-wrap gap-2">
            {skills.map((skill) => (
              <Badge>{skill}</Badge>
            ))}
          </div>
        </div>
      ))
    }
  </SectionBody>
</Section>
