@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap")
layer(base);

@import "tailwindcss";

@theme inline {
  --font-sans:
    "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html {
    font-size: clamp(14px, 2.5vw, 16px);
    overscroll-behavior: none;
  }

  body {
    line-height: 1.6;
  }
}
