---
import "@web/styles/global.css";
import { data } from "@cv/data";
import Experience from "@web/components/sections/experience.astro";
import Header from "@web/components/sections/header.astro";
import Intro from "@web/components/sections/intro.astro";
import Projects from "@web/components/sections/projects.astro";
import Skills from "@web/components/sections/skills.astro";
---

<html lang="en" class="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{data.name} - Resume</title>
  </head>

  <body>
    <main
      class="container relative mx-auto flex flex-col gap-8 max-w-4xl scroll-my-12 overflow-auto p-4 print:p-11 md:p-16"
    >
      <Header />
      <Intro />
      <Experience />
      <Skills />
      <Projects />

      <div class="sr-only">
        <h1>{data.name}&apos;s Resume</h1>
      </div>
    </main>
  </body>
</html>
