---
import "@web/styles/global.css";
import { data } from "@cv/data";
import Experience from "@web/components/sections/experience.astro";
import Header from "@web/components/sections/header.astro";
import Intro from "@web/components/sections/intro.astro";
import Projects from "@web/components/sections/projects.astro";
import Skills from "@web/components/sections/skills.astro";
---

<html lang="en" class="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{data.name} - Resume</title>
  </head>

  <body>
    <main
      class="relative container mx-auto flex max-w-4xl scroll-my-12 flex-col gap-6 overflow-auto px-4 py-6 sm:gap-8 sm:px-6 sm:py-8 md:px-16 md:py-12"
    >
      <Header />
      <Intro />
      <Experience />
      <Skills />
      <Projects />

      <div class="sr-only">
        <h1>{data.name}&apos;s Resume</h1>
      </div>
    </main>
  </body>
</html>
